<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Gikbab</title>
</head>
<body>
<input type="date" name="today" id="today"/>
<script>document.getElementById('today').value = new Date().toISOString().substring(0, 10);</script>
<form method="get" action="/menu">
    <input value="today" type="submit">
    <input value="월요일 메뉴" type="submit">
    <input value="화요일 메뉴" type="submit">
    <input value="수요일 메뉴" type="submit">
    <input value="목요일 메뉴" type="submit">
    <input value="금요일 메뉴" type="submit">
    <input value="토요일 메뉴" type="submit">
    <input value="일요일 메뉴" type="submit">
</form>
</body>
</html>